Repository MerginMaps/docs, pull requests merged in 2023-12, with the labels that each got.

#383 add docs for mergin_user_email
  src/.vuepress/components/SinceBadge.vue
  src/layer/plugin-variables.md
Labels: not-released-yet, plugin

#401 Working with organisations - removed
  REDIRECTS
  src/setup/working-with-organisations/create-organisation.jpg
  src/setup/working-with-organisations/create-organisation.xcf
  src/setup/working-with-organisations/index.md
  src/setup/working-with-organisations/mergin-organisation-create.jpg
  src/setup/working-with-organisations/mergin-organisation-create.xcf
Labels: redirects-update

#396 Subscription update - Stripe
  src/.vuepress/components/DashboardLink.vue
  src/.vuepress/components/DashboardShortLink.vue
  src/manage/dashboard.md
  src/manage/permissions.md
  src/manage/subscriptions/academia-non-profit-plan.jpg
  src/manage/subscriptions/academia-non-profit-plan.xcf
  src/manage/subscriptions/index.md
  src/manage/subscriptions/invoice-receipt.jpg
  src/manage/subscriptions/invoices-history.jpg
  src/manage/subscriptions/invoices-history.xcf
  src/manage/subscriptions/stripe-add-payment-method.jpg
  src/manage/subscriptions/stripe-add-payment-method.xcf
  src/manage/subscriptions/stripe-billing-info-payment-method.jpg
  src/manage/subscriptions/stripe-billing-info-payment-method.xcf
  src/manage/subscriptions/stripe-cancel-subscription-confirm.jpg
  src/manage/subscriptions/stripe-cancel-subscription-confirm.xcf
  src/manage/subscriptions/stripe-cancel-subscription.jpg
  src/manage/subscriptions/stripe-cancel-subscription.xcf
  src/manage/subscriptions/stripe-checkout.jpg
  src/manage/subscriptions/stripe-checkout.xcf
  src/manage/subscriptions/stripe-merginmaps-subcription.jpg
  src/manage/subscriptions/stripe-merginmaps-subcription.xcf
  src/manage/subscriptions/stripe-update-billing-info.jpg
  src/manage/subscriptions/stripe-update-billing-info.xcf
  src/manage/subscriptions/stripe-update-plan-confirmation.jpg
  src/manage/subscriptions/stripe-update-plan-confirmation.xcf
  src/manage/subscriptions/stripe-update-subscription.jpg
  src/manage/subscriptions/stripe-update-subscription.xcf
  src/manage/subscriptions/stripe-update-your-plan.jpg
  src/manage/subscriptions/stripe-update-your-plan.xcf
  src/manage/subscriptions/subscriptions-update.jpg
  src/manage/subscriptions/subscriptions-update.xcf
  src/manage/subscriptions/subscriptions-upgrade.jpg
  src/manage/subscriptions/subscriptions-upgrade.xcf
  src/manage/subscriptions/subscriptions.jpg
  src/manage/subscriptions/subscriptions.xcf
  src/manage/transfer-ownership-member-role.jpg
  src/manage/transfer-ownership-member-role.xcf
  src/manage/transfer-ownership-new-owner.jpg
  src/manage/transfer-ownership-new-owner.xcf
  src/misc/write-docs/index.md
Labels: frozen, redirects-update
